@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  /* scroll-snap-type: proximity;
  overflow-y: scroll; */
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
*{
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.container{
  width: 100%;
  float: left;
  height: 100vh;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  position: sticky;
  font-size: 50px;
  color: #fff;
  text-transform:none;
  cursor: pointer;
  background-color: #8BC6EC;
  background-image: linear-gradient(90deg, #9FA4C4 0%, #B3CDD1 50%,#9FA4C4 100%);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 10s linear infinite;
}
.toggle
{
  /* position: relative; */
  position: relative;
  /* right: 50px; */
  /* right:-95%; */
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  /* background-color: #8BC6EC;
  background-image: linear-gradient(90deg, #9FA4C4 0%, #B3CDD1 50%, #9FA4C4 100%);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 10s linear infinite; */

}
.toggle.active
{
  
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100%;
  padding: 100px;
  display: block;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 0, 0);
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #945965; */
  mix-blend-mode: overlay;
}
.text
{
  /* position: relative; */
  z-index: 10;
}

.text h2
{
  /* align text in middle */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -85%);
  font-size: 3em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: none;
  /* background: linear-gradient(135deg,#5335cf 0%,#de0e5e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 10s linear infinite; */
}
@keyframes animate {
  100%{
    background-position: 400%;
  }
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}
.auto
{
  /* align text in middle */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 40%);
  font-size: 2.2em;
  font-weight: 800;
  opacity: 0.98;
  color: rgb(205, 203, 213);
  line-height: 1em;
  text-transform: none;
  z-index: 10000;
}
span{
  color: transparent;
}
#image-track {
  display: flex;
  gap: 4vmin;
  position: relative;
  left: -5%;
  top: 25%;
  transform: translate(0%, -50%);
  user-select: none;
  /* -- Prevent image highlighting -- */
}

#image-track>.image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}
#first img{
  max-width: 60px;
  font-size: 0;
  height: auto;
  /* display: inline-block; */
  margin-block: 0;
}

  /* //postion my socials to bottom left */
  /* position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  padding-left: 30px; */
  /* max-width: 0px; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* z-index: 1; */

#first{
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  padding-left: 30px;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  /* margin-left: 40px; */
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.65) translateY(-15px);
}
html{
  scroll-behavior: smooth;
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #03a9f4; 
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}
@media(prefers-reduced-motion) {
  .hidden{
    transition: none;
  }
}
/* section.showcase{
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
} */


.container{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
section{
  width: 100%;
  float: left;
  min-height: 100vh;
  scroll-snap-align: start;
}
#home{
  /* height: 100vh; */
  background-color: white;
  scroll-snap-align: start;
} 
#about
{
  /* height: 100vh; */
  display: inline;
  /* justify-content: center; */
  font-size:xx-large;
  /* align-items: center; */
  background-color: black;
  scroll-snap-align: start;
}
#about h1{
  padding: 1em;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  /* margin-left: 30px; */
  margin-bottom: 10%;
  background: linear-gradient(135deg, #5335cf 0%, #de0e5e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 10s linear infinite;
}
#about p{
  top: 50%;
  left: 0%;
  transform: translate(0 , 0);
  align-items: center;
  margin-left: 15%;
  margin-right: 10%;
}
#gallery{
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
}
#gallery h1 {
  padding: 1em;
  font-size: 3em;
  display: flex;
  justify-content: center;
  /* margin-left: 30px; */
  margin-bottom: 10%;
  background: linear-gradient(135deg, #5335cf 0%, #de0e5e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 10s linear infinite;
}
#contact{
  /* display: inline; */
  /* width: 100%; */
  /* height: 100vh; */
  /* background: rgb(0, 0, 0); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* justify-content: center; */
  background-color: black;
  /* scroll-snap-align: start; */
}
#contact h1{    
  font-size: 3em;
  justify-content: center;
  font-size: xxx-large;
  background: linear-gradient(135deg, #5335cf 0%, #de0e5e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 10s linear infinite;
  /* margin-left: 30px; */
  /* margin-bottom: 10%; */
}
/* #contact p{
  top: 50%;
  left: 0%;
  font-size: xx-large;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
} */
#second{
  /* height: 100vh; */
  position: relative;
  display: flex;
  flex-direction: row;
  /* top: 25%; */
  /* align-items: center; */
  justify-content: center;
  /* bottom: 0; */
  /* top: 100%; */
  /* align-items: center; */

}
#second img{
  max-width: 60px;
  font-size: 0;
  /* height: auto; */
  margin-block: 0;
}
sup{
  font-weight: 500;
  font-size: 30px;
}
/* .container1{
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
} */
form{
  position: relative;
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  padding: 6vh 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}
form h3{
  position: relative;
  color: rgb(255, 255, 255);
  font-weight: 800;
  margin-bottom: 20px;
}
form input, form textarea{
  position: relative;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 4px;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: rgb(0, 0, 0);
  font-size: 16px;
}
#message{
  position: relative;
  border: 2px solid rgb(77, 77, 77);
  border-radius: 4px;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: rgb(0, 0, 0);
  font-size: 16px;
  height: 200px;
}
#button{
  position: relative;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    /* background: #000000; */
    color: black;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
/* HTML: <div class="loader"></div> */
#third{
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.loader {
  --R: 30px;
  --g1: #514b82 96%, #0000;
  --g2: #f8ebeb 96%, #0000;
  width: calc(2*var(--R));
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  -webkit-mask: linear-gradient(#000 0 0);
  animation: l30 2s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  width: 50%;
  background:
    radial-gradient(farthest-side, var(--g1)) calc(var(--R) + 0.866*var(--R) - var(--R)) calc(var(--R) - 0.5*var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g1)) calc(var(--R) + 0.866*var(--R) - var(--R)) calc(var(--R) - 0.5*var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g2)) calc(var(--R) + 0.5*var(--R) - var(--R)) calc(var(--R) - 0.866*var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g1)) 0 calc(-1*var(--R)),
    radial-gradient(farthest-side, var(--g2)) calc(var(--R) - 0.5*var(--R) - var(--R)) calc(var(--R) - 0.866*var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g1)) calc(var(--R) - 0.866*var(--R) - var(--R)) calc(var(--R) - 0.5*var(--R) - var(--R)),
    radial-gradient(farthest-side, var(--g2)) calc(-1*var(--R)) 0,
    radial-gradient(farthest-side, var(--g1)) calc(var(--R) - 0.866*var(--R) - var(--R)) calc(var(--R) + 0.5*var(--R) - var(--R));
  background-size: calc(2*var(--R)) calc(2*var(--R));
  background-repeat: no-repeat;
}

.loader::after {
  transform: rotate(180deg);
  transform-origin: right;
}

@keyframes l30 {
  100% {
    transform: rotate(-1turn)
  }
}
/* Loader styles */
/* #loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.loader-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */
/* Hide the loader when content is loaded */
#portfolio-content {
  display: none;
}